* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: LilitaOneRegular;
  src: url(../static/fonts/LilitaOne-Regular.ttf);
}
html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.EndGamePopup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: max-height 5s ease-in-out;
  z-index: 3;
}
.EndGamePopup.active {
  max-height: 100%;
}
.EndGamePopupBody {
  height: 100%;
  width: 40%;
  display: flex;
  background-image: url("../static/textures/BackgroundShadowPurple.png");
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Home Button and Gems Count */
.section1 {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Gems Count - Start*/
.totalGemsCollectedDiv {
  position: relative;
}

.totalGemsCollected {
  rotate: 30deg;
}

.totalGemsLabel {
  position: absolute;
  font-family: LilitaOneRegular;
  color: #ffffff;
  font-size: 4vw;
  top: 45%;
  left: -80%;
  transform: translate(-50%, -50%);
}
.GemsCountBackground {
  position: absolute;
  right: 30%;
}
/* Gems Count - End */

/* Home Button - Start */
.homeButton{
  position: relative;
}
/* .section1 .homeButtonImage {} */

.homeImage {
  position: absolute;
  margin: 0;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Home Button - End */

/* Home Buton and Gems Count Section - End */


.section2 {
  margin-top: 40 rem auto;
  margin-bottom: 10px;
}

.section2 .levelCompleted { 
  width: 80%;
}

.section2 .gemsCollectedDiv {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section2 .gemsCollectedDiv .gem {
  margin-left: 10px;
  width: 10%;
}

.section2 .gemsCollectedDiv .gemsCollectedLabel {
  font-family: LilitaOneRegular;
  color: #ffffff;
  font-size: 7em;
}
.section2 .levelCompletedDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section3 {
  margin-bottom: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section3 .scoreIncreaserDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section3 .scoreIncreaserDiv .scoreIncreaser {
  width: 60%;
}

.section3 .scoreIncreaserDiv .scoreIncreaserPin {
  position: relative;
  /* margin-top: -70px;
  width: 10%; */
}

/* Speedo Meter CSS */
.scoreIncreaserPin{
  position: absolute;
  height: 80%;
  width: 10%;
  bottom: 50px;
  margin-top: -70px;
  transform-origin: 20px 145px;
  transform-origin: bottom center;
  animation: animate-pointer 2s ease-in-out infinite;
}
.scoreIncreaser::before {
  content: '';
  position: absolute;
  width: 10%;
  height: 100%; /* Adjust height to cover the whole length */
  background: gray;
  border-radius: 50%;
  bottom: 0;
  left: 0; /* Move it to the horizontal center */
  /* transform: translateX(-50%);  */
}
@keyframes animate-pointer {
  0% {transform: rotate(-80deg);}
  80% {transform: rotate(60deg);}
  100% {transform: rotate(-80deg);}
}
/* Speedo Meter CSS */

.section4 {
  margin-top: 20px;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.doubleGemsDiv {
  position: relative;
  width: 300px;
  height: 130px;
  overflow: hidden;
}


.videoBackground{
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 5;
}
.video {
  width: 8%;
  margin-left: -115px;
  /* z-index: 40; */
}
.collectedGems {
  font-family: LilitaOneRegular;
  color: #ffffff;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.gem {
  width: 7%;
}

.section4 .nextButtonDiv {
  margin-top: 20px;
}

.section4 .nextButtonDiv .nextButton {
  font-family: LilitaOneRegular;
  background-color: transparent;
  border: 0px;
  color: #000000;
  font-size: 35px;
}

#hud-ui {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;
  align-items: center;
  flex-direction: column;
}

#hud-ui .progressBarContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#hud-ui .progressBarContainer .progressBar {
  margin-left: 5%;
  margin-right: 5%;
  width: 38%;
  height: 80%;
}

#hud-ui .progressBarContainer .progressBarCurrentLevel {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#hud-ui .progressBarContainer .progressBarCurrentLevel .currentLevel {
  color: #ffffff;
  font-size: 24px;
  font-family: LilitaOneRegular;
  margin-left: -28px;
  margin-right: 28px;
}
#hud-ui
  .progressBarContainer
  .progressBarCurrentLevel
  .progressBarCurrentLevelImg {
  width: 100%;
}

#hud-ui .progressBarContainer .progressBarNextLevel {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#hud-ui .progressBarContainer .progressBarNextLevel .nextLevel {
  color: #ffffff;
  font-size: 24px;
  font-family: LilitaOneRegular;
  margin-left: -28px;
}
#hud-ui .progressBarContainer .progressBarNextLevel .progressBarNextLevelImg {
  width: 100%;
}

#hud-ui .progressBarContainer .progressBar .progressBarImg {
  width: 100%;
}

#hud-ui .gemsCollectContainer {
  margin-left: 250px;
  position: relative;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#hud-ui .gemsCollectContainer .gemsCollectedBg {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#hud-ui .gemsCollectContainer .gemsCollectedBg .gemsCollectedBGImg {
  width: 45%;
  opacity: 50%;
}

#hud-ui .gemsCollectContainer .gemsCollected {
  color: #ffffff;
  font-size: 28px;
  font-family: LilitaOneRegular;
  margin-left: -80px;
  z-index: 2;
}
#hud-ui .gemsCollectContainer .gemsCollectImage {
  width: 20%;
  rotate: 35deg;
}

@media screen and (max-width: 620px) {
  #hud-ui {
    scale: 0.8;
  }
}

@media screen and (max-width: 960px) {
  #hud-ui {
    scale: 0.9;
  }
}

#hud-ui {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;
  align-items: center;
  flex-direction: column;
}

#hud-ui .progressBarContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#hud-ui .progressBarContainer .progressBar {
  margin-left: 5%;
  margin-right: 5%;
  width: 38%;
  height: 80%;
}

#hud-ui .progressBarContainer .progressBarCurrentLevel {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#hud-ui .progressBarContainer .progressBarCurrentLevel .currentLevel {
  color: #ffffff;
  font-size: 24px;
  font-family: LilitaOneRegular;
  margin-left: -28px;
  margin-right: 28px;
}
#hud-ui
  .progressBarContainer
  .progressBarCurrentLevel
  .progressBarCurrentLevelImg {
  width: 100%;
}

#hud-ui .progressBarContainer .progressBarNextLevel {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#hud-ui .progressBarContainer .progressBarNextLevel .nextLevel {
  color: #ffffff;
  font-size: 24px;
  font-family: LilitaOneRegular;
  margin-left: -28px;
}
#hud-ui .progressBarContainer .progressBarNextLevel .progressBarNextLevelImg {
  width: 100%;
}

#hud-ui .progressBarContainer .progressBar .progressBarImg {
  width: 100%;
}

#hud-ui .gemsCollectContainer {
  margin-left: 250px;
  position: relative;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#hud-ui .gemsCollectContainer .gemsCollectedBg {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#hud-ui .gemsCollectContainer .gemsCollectedBg .gemsCollectedBGImg {
  width: 45%;
  opacity: 50%;
}

#hud-ui .gemsCollectContainer .gemsCollected {
  color: #ffffff;
  font-size: 28px;
  font-family: LilitaOneRegular;
  margin-left: -80px;
  z-index: 2;
}
#hud-ui .gemsCollectContainer .gemsCollectImage {
  width: 20%;
  rotate: 35deg;
}

@media screen and (max-width: 620px) {
  #hud-ui {
    scale: 0.8;
  }
}

@media screen and (max-width: 960px) {
  #hud-ui {
    scale: 0.9;
  }
}


 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .EndGamePopupBody{
    width: 100%;
  } 
  .levelCompleted .section2{
    width: 80%;
  }
  .section2 .gemsCollectedDiv .gem {
    margin-left: 10px;
    /* width: 10%; */
  }

  .scoreIncreaserDiv{
    width: 100%;
  }
  
  
  /* .gemsCollectedLabel {
    font-size: 0em;
  } */
  /* .gemsCollectedLabel{ font-size: 2000vw;} */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .EndGamePopupBody{
    width: 100%;
  } 
  .levelCompleted .section2{
    width: 80%;
  }
  .section2 .gemsCollectedDiv .gem {
    margin-left: 10px;
    width: 10%;
  }
  
  /* .gemsCollectedLabel {
    font-size: 0em;
  } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}